* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
  height: 100%;
  width: 100%;
  margin: 0;
}

body{
  background: linear-gradient(135deg, #2A7B9B, #57C785, #EDDD53);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  height: 90%;
  width: 90%;
  margin: auto;
  border-style: dotted;
}

.p1 {
  display: flex;
  justify-content: center; /* centra horizontal */
  align-items: center;     /* centra vertical */
  height: 30%;
  background: #f44336;
  border-style: dotted;
}

.p2 { 
  display: flex;
  flex-direction: column;
  justify-content: center; /* centra horizontal */
  align-items: center;     /* centra vertical */
  height: 10%; 
  background: #2196f3;
  border-style: dotted; 
}

.p3 { 
  height: 55%; 
  background: #4caf50;
  border-style: dotted; 
}

.p4 { 
  display: flex;
  justify-content: center; /* centra horizontal */
  align-items: center;     /* centra vertical */
  height: 5%;  
  /* background: #ffeb3b;
  border-style: dotted;  */
}

.imgAvatar {
  border-radius: 50%;
  aspect-ratio: 1 / 1;
  height: 90%;
}

.piePagina{
  color: #fff;
}