* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #111;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  text-align: center;
  width: 100%;
  max-width: 60%;
}

.avatar {
  width: 40%;
  height: 40%;
  border-radius: 50%;
  margin-bottom: 15px;
}

.link {
  display: block;
  background: white;
  color: black;
  text-decoration: none;
  padding: 15px;
  margin: 10px 0;
  border-radius: 8px;
  font-weight: bold;
}

.link:hover {
  background: #ddd;
}
